/* Write your code here. */
/* Write your code here. */
.emoji-card {
  background: #ffffff33;
  border-radius: 25px;
  border: 3px solid #ffffff30;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
}

.emoji-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.emoji-img {
  width: 50px;
}

@media screen and (min-width: 768px) {
  .emoji-card {
    width: 140px;
    height: 140px;
  }

  .emoji-img {
    width: 70px;
  }
}
